.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 800px;
}
a{
    text-decoration: none;
}
.menu-item{
    background-color: bisque;
    color: aliceblue;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}
.submenu{
    list-style:none;
    padding: 10px;
    margin: 0;
    opacity: 0;
    /* display: none; */
    position: absolute;
    background-color: aquamarine;
    top: 100%;
    /* width: 100%; */
    left: 0;
    right: 0;

}
.menu-item{
    outline: 1px solid tomato;
    position: relative;
}
.menu-link{
    display: block;
    background-color: teal;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}
.menu-item:hover .submenu{
    opacity: 1;
}
.submenu a {
    color: black;
}
/* Проект */
.praktuka{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 800px;
}
.praktuka-item{
    background-color: bisque;
    color: aliceblue;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;   
}
.link{
    display: block;
    background-color: teal;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}
.praktuka-menu{
    list-style:none;
    padding: 10px;
    margin: 0;
    opacity: 0;
    position: absolute;
    background-color: aquamarine;
    top: 100%;
    left: 0;
    right: 0;
}
.praktuka-menu a {
    color: black;
}
.praktuka-item:hover .submenu{
    opacity: 1;
}